/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.debug {
    border: 1px solid red;
}

/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    min-width: 1200px;
}

body img {
    width: 100%;
}


:root {
    --color-footer-bg: #000000;
    --color-main-bg: #ffffff;
    --color-color-button: #0061ff;
    --color-color-contrast: #b4d0e7;
    --color-border-square1: #d1e9cd;
    --color-main-square1: #a2d39b;
    --color-square3: #0093ce;
    --color-square2: #61082b;
    --color-suqare4: #ff1c1c;
    --color-big-square: #f5f5f5;
    --color-square5: #d5001f;
    --color-square6: #b4d0e7;
    --color-square7: #0d2481;
    --color-square8: #ffd830;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.small-container {
    max-width: 1000px;
    margin: 0 auto;
}

.btn {
    background-color: var(--color-color-button);
    /* padding: 2px 10px; */
    color: var(--color-main-bg);
    transition: 0.5s;
    display: inline-block;
}

.btn-white {
    background-color: var(--color-main-bg);
    color: var(--color-footer-bg);
    border: 1px solid black;
}

.btn-free-border {
    background-color: var(--color-main-bg);
    border: none;
    padding: 5px 20px;
    color: var(--color-footer-bg);
}

.btn:hover {

    opacity: 0.8;
    transform: scaleX(1.1) scaleY(1.1);
}

.margin-section {
    margin-top: 120px;
}

/* FLEX UTILITY */
.d-flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.s-between {
    justify-content: space-between;
}

.dir-column {
    flex-direction: column;
}

.align-start {
    align-items: flex-start;
    align-content: flex-start;
}

.align-center {
    align-items: center;
    align-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.self-center {
    align-self: center;
}

.align-baseline {
    align-items: baseline;
}

.grow {
    flex-grow: 2;
}

/* DIMENSION */
.mt40 {
    margin-top: 40px;
}

.mt20 {
    margin-top: 20px;
}

.padd-bot {
    padding-bottom: 40px;
}

.pad-top {
    padding-top: 40px;
}

.mlr {
    margin: 0 20px;
}

.p-big {
    padding: 10px;
}

.padd {
    padding: 30px;
}

.pad-light-top-bot {
    padding: 20px 35px;
}

/* HEADER */
header {
    text-transform: capitalize;
}

nav a:hover {
    text-decoration: none;
}

.shadow {
    box-shadow: 0 2px 4px darkgray;
}

nav div a:hover:not(.btn) {
    border-bottom: 3px solid var(--color-footer-bg);
}

nav {
    width: 100%;
    height: 60px;
    background-color: var(--color-main-bg);

}

nav a:not(.btn) {
    color: var(--color-footer-bg);
    padding-bottom: 16px;
}

nav ul li {
    padding: 6px 6px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* MAIN */
main {
    margin-top: 60px;
}

/* SECTION HERO */
#hero {
    background-color: var(--color-color-contrast);
}

#hero h1 {
    padding-top: 60px;
    font-size: 4.5em;
    font-weight: 800;
}

.hero-left {
    width: 30%;
}

.hero-right {
    width: 70%;
}

#jumbo {
    position: relative;
    top: 60px;
}

#jumbo i {
    font-size: 4em;
    padding-bottom: 70px;
    color: var(--color-footer-bg);
}

/* SECTION BILLING */

#billing input {
    margin-right: 10px;
}

.gap {
    gap: 50px;
}

.underline {
    text-decoration: underline;
}

.card {
    border: 1px solid lightgray;
    width: 100%;
    gap: 25px;
}

.card-head {
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 6px;
}

.c-gray {
    color: darkgray;
}

.list-icon {
    margin-bottom: 15px;
    padding-left: 1em;
    text-indent: -1em;
}

.list-icon::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    margin-right: 5px;
}

.list-icon.user::before {
    content: '\f007';
}

.list-icon.folder::before {
    content: '\f07b';
}

.list-icon.share::before {
    content: '\f1e0';
}

#billing a {
    text-align: center;
}

.list-icon.check::before {
    content: '\f00c';
    color: var(--color-color-button);
}

.billing-left {
    width: 80%;
}

.billing-right {
    width: 30%;
}

/* PARTNER */
.partner-left {
    width: 60%;
}

.partner-right {
    width: 40%;
}


/* OPERATION */



.box {
    margin-top: 15px;
    width: calc(100% / 3 - 40px);
}

/* BUSINESS */
#business h2 {
    font-size: 2.4em;
}

#business a {
    text-decoration: underline;
    color: var(--color-color-button)
}

#business .left {
    width: 70%;
}

/* SQUARE */
.calc-3 {
    width: calc(100% / 3);
}

.calc-2 {
    width: calc(100% / 2);
    aspect-ratio: 1 / 1;
}

#square img:not(#logo-square-center) {
    display: block;
    width: 50%;
    filter: invert(100%);
}

#square .left>div:hover,
.right>div:hover {
    box-shadow: 0px 0px 0px 12px rgba(255, 255, 255, 0.5) inset;
    /* opacity: 0.5; */
}

.sq1 {
    background-color: var(--color-main-square1);
}

.sq2 {
    background-color: var(--color-square2);
}

.sq3 {
    background-color: var(--color-square3);
}

.sq4 {
    background-color: var(--color-suqare4);
}

.sq5 {
    background-color: var(--color-square5);
}

.sq6 {
    background-color: var(--color-square6);
}

.sq7 {
    background-color: var(--color-square7);
}

.sq8 {
    background-color: var(--color-square8);
}

#square .center {
    height: 100%;
    background-color: var(--color-big-square);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    aspect-ratio: 1 / 1;
}

.flex-start {
    align-items: flex-start;
}

#logo-square-center {
    width: 60%;
}

/* FREE-TRIAL */
#free-trial {
    background-color: var(--color-color-contrast);
}

.free-trial-left {
    width: 70%;
}

.free-trial-right {
    width: 30%;
}

#free-trial h2 {
    font-size: 3em;
    color: var(--color-square2);
    padding: 100px 0;
}

/* FAQ */
#faq h2 {
    padding-bottom: 50px;
    font-size: 2.5em;
}

.scroll-margin {
    scroll-margin: 60px;
}

#faq h4 {
    padding: 40px 0;
    cursor: pointer;

}

#faq div:not(div > div) {
    border-top: 1px solid black;
}

.details {
    display: none;
}

#faq h4,
i:hover .details {
    display: block;
}

.bord-bot {
    border: 0px solid black;
    margin-bottom: 40px;
}

/* FOOTER */
footer {
    padding-top: 70px;
    background-color: var(--color-footer-bg);
    color: var(--color-main-bg);
}

footer a {
    color: var(--color-main-bg);
}

footer ul> :first-child {
    font-size: 1.5em;
}

footer li {
    margin: 20px 0;
}